@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('./menu.css');
@import url('./main-content.css');
@import url('./product.css');
@import url('./certificats.css');
@import url('./comments.css');
@import url('./footer.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #43BEA7;
    --secondary-color: #0C7864;
    --primary-font-color: #333333;
    --secondary-font-color: #FFFFFF;
    --primary-alpha-color: rgba(68, 231, 172, 0.25);
    --xl: 42px;
    --lg: 32px;
    --md: 18px;
    --sm: 12px;
    --golden-point: 1.6;
}

html {
    font-family: Roboto;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.--header-text,
.--regular-text,
.--subtitle-text,
.--header-2-text {
    font-style: normal;
}

.--header-text {
    font-size: var(--xl);
    line-height: calc(var(--xl) * var(--golden-point));
    font-weight: bold;
    letter-spacing: -0.02em;
}

.--regular-text {
    font-weight: 500;
    font-size: var(--md);
    line-height: calc(var(--md) * var(--golden-point));
}

.--subtitle-text {
    font-weight: bold;
    font-size: var(--sm);
    line-height: calc(var(--sm) * var(--golden-point));
    letter-spacing: -0.02em;
}

.--subtitle-2-text {
    font-weight: 400;
    font-size: var(--sm);
    line-height: calc(var(--sm) * var(--golden-point));
}

.--header-2-text {
    font-weight: bold;
    font-size: var(--lg);
    line-height: calc(var(--lg) * var(--golden-point));
    letter-spacing: -0.02em;
}

.--btn {
    width: 244px;
    height: 87px;
    background-color: var(--primary-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
    border-radius: 10px;
    transition: background-color .4s ease;
    color: var(--secondary-font-color);
}

@media only screen and (min-width: 1100px) {
    .--btn {
        width: 247px;
        height: 122px;
        cursor: pointer;
    }
    .--btn:hover {
        background-color: var(--secondary-color);
    }
}